In [1]:
import pandas as pd

In [40]:
data = pd.read_excel('sales.xlsx')

In [42]:
df = pd.DataFrame(data,columns=['Market','Region','No_of_Orders','Profit','Sales'])
print(df)

          Market             Region  No_of_Orders    Profit      Sales
0         Africa     Western Africa           251 -12901.51   78476.06
1         Africa    Southern Africa            85  11768.58   51319.50
2         Africa       North Africa           182  21643.08   86698.89
3         Africa     Eastern Africa           110   8013.04   44182.60
4         Africa     Central Africa           103  15606.30   61689.99
5   Asia Pacific       Western Asia           382 -16766.90  124312.24
6   Asia Pacific      Southern Asia           469  67998.76  351806.60
7   Asia Pacific  Southeastern Asia           533  20948.84  329751.38
8   Asia Pacific            Oceania           646  54734.02  408002.98
9   Asia Pacific       Eastern Asia           414  72805.10  315390.77
10  Asia Pacific       Central Asia            37  -2649.76    8190.74
11        Europe     Western Europe           964  82091.27  656637.14
12        Europe    Southern Europe           338  18911.49  215703.93
13        Europe    Northern Europe           367  43237.44  252969.09
14        Europe     Eastern Europe           241  25050.69  108258.93
15         LATAM      South America           496  12377.59  210710.49
16         LATAM    Central America           930  74679.54  461670.28
17         LATAM          Caribbean           288  13529.59  116333.05
18          USCA         Western US           490  44303.65  251991.83
19          USCA        Southern US           255  19991.83  148771.91
20          USCA         Eastern US           443  47462.04  264973.98
21          USCA         Central US           356  33697.43  170416.31
22          USCA             Canada            49   7246.62   26298.81

In [46]:
df.set_index(['Market','Region'])

                                No_of_Orders    Profit      Sales
Market       Region
Africa       Western Africa              251 -12901.51   78476.06
             Southern Africa              85  11768.58   51319.50
             North Africa                182  21643.08   86698.89
             Eastern Africa              110   8013.04   44182.60
             Central Africa              103  15606.30   61689.99
Asia Pacific Western Asia                382 -16766.90  124312.24
             Southern Asia               469  67998.76  351806.60
             Southeastern Asia           533  20948.84  329751.38
             Oceania                     646  54734.02  408002.98
             Eastern Asia                414  72805.10  315390.77
             Central Asia                 37  -2649.76    8190.74
Europe       Western Europe              964  82091.27  656637.14
             Southern Europe             338  18911.49  215703.93
             Northern Europe             367  43237.44  252969.09
             Eastern Europe              241  25050.69  108258.93
LATAM        South America               496  12377.59  210710.49
             Central America             930  74679.54  461670.28
             Caribbean                   288  13529.59  116333.05
USCA         Western US                  490  44303.65  251991.83
             Southern US                 255  19991.83  148771.91
             Eastern US                  443  47462.04  264973.98
             Central US                  356  33697.43  170416.31
             Canada                       49   7246.62   26298.81

In [50]:
result = df[[df.columns[1], df.columns[3]]]

In [51]:
result = result.reset_index()

In [52]:
print(result)

    index             Region    Profit
0       0     Western Africa -12901.51
1       1    Southern Africa  11768.58
2       2       North Africa  21643.08
3       3     Eastern Africa   8013.04
4       4     Central Africa  15606.30
5       5       Western Asia -16766.90
6       6      Southern Asia  67998.76
7       7  Southeastern Asia  20948.84
8       8            Oceania  54734.02
9       9       Eastern Asia  72805.10
10     10       Central Asia  -2649.76
11     11     Western Europe  82091.27
12     12    Southern Europe  18911.49
13     13    Northern Europe  43237.44
14     14     Eastern Europe  25050.69
15     15      South America  12377.59
16     16    Central America  74679.54
17     17          Caribbean  13529.59
18     18         Western US  44303.65
19     19        Southern US  19991.83
20     20         Eastern US  47462.04
21     21         Central US  33697.43
22     22             Canada   7246.62

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Market        23 non-null     object
 1   Region        23 non-null     object
 2   No_of_Orders  23 non-null     int64
 3   Profit        23 non-null     float64
 4   Sales         23 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.0+ KB

In [54]:
df

          Market             Region  No_of_Orders    Profit      Sales
0         Africa     Western Africa           251 -12901.51   78476.06
1         Africa    Southern Africa            85  11768.58   51319.50
2         Africa       North Africa           182  21643.08   86698.89
3         Africa     Eastern Africa           110   8013.04   44182.60
4         Africa     Central Africa           103  15606.30   61689.99
5   Asia Pacific       Western Asia           382 -16766.90  124312.24
6   Asia Pacific      Southern Asia           469  67998.76  351806.60
7   Asia Pacific  Southeastern Asia           533  20948.84  329751.38
8   Asia Pacific            Oceania           646  54734.02  408002.98
9   Asia Pacific       Eastern Asia           414  72805.10  315390.77
10  Asia Pacific       Central Asia            37  -2649.76    8190.74
11        Europe     Western Europe           964  82091.27  656637.14
12        Europe    Southern Europe           338  18911.49  215703.93
13        Europe    Northern Europe           367  43237.44  252969.09
14        Europe     Eastern Europe           241  25050.69  108258.93
15         LATAM      South America           496  12377.59  210710.49
16         LATAM    Central America           930  74679.54  461670.28
17         LATAM          Caribbean           288  13529.59  116333.05
18          USCA         Western US           490  44303.65  251991.83
19          USCA        Southern US           255  19991.83  148771.91
20          USCA         Eastern US           443  47462.04  264973.98
21          USCA         Central US           356  33697.43  170416.31
22          USCA             Canada            49   7246.62   26298.81